{{< image classes="fancybox right clear" src="v1545998099/uploads/hello-world" thumbnail="v1545998099/uploads/hello-world" group="group:travel" thumbnail-width="150px" thumbnail-height="300px" title="A beautiful sunrise" >}}

more information available here: https://github.com/kakawait/hugo-tranquilpeak-theme/blob/master/docs/user.md#image