---
new_page_extension: md
auto_deploy: true
admin_path: admin
webhook_url: 
sections:
- type: directory
  path: content/post
  label: Post
  create: documents
  match: "*"
  templates:
  - post
- type: directory
  path: content
  label: Pages
  create: all
  match: "*"
upload_dir: images
public_path: https://res.cloudinary.com/anbuchelva/image/upload
front_matter_path: ''
use_front_matter_path: true
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.57.2
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
